    <div class="row">
     <h3><i class="fa fa-angle-right"></i> Hospitales</h3>

       <div class="col-lg-9 main-chart">
                  
                  	<div class="row mtbox" id="row-hospiatles" style="margin-top:5px;">
                  		<div class="col-md-3 col-sm-4 col-xs-6 box0">
                  			<div class="box1">
      					  			<span class="li_heart"></span>
                                    <a href="#hospital-informacion/hospital-abc-1"><div class="hospital-img" style="background-image: url(images/hospitales/ABC.png)"></div></a>
      					  			<!--<h3> <img src="images/hospitales/ABC.png" width="100%" alt=""></h3>-->
                        </div>
					  			<p>Hospital ABC</p>
                  		</div>
                  		<div class="col-md-3 col-sm-4 col-xs-6  box0">
                  			<div class="box1">
					  			<span class="li_cloud"></span>
					  			  <a href="#hospital-informacion/cruz-roja-mexicana-2"><div class="hospital-img" style="background-image: url(images/hospitales/cruzrojamexicana.png)"></div></a>
					  			
                  			</div>
					  			<p>CRUZ ROJA</p>
                  		</div>
                  		<div class="col-md-3 col-sm-4 col-xs-6  box0">
                  			<div class="box1">
					  			<span class="li_stack"></span>
					  			 <a href="#hospital-informacion/hospital-angeles-mexico-3"><div class="hospital-img" style="background-image: url(images/hospitales/hospitalangeles.png)"></div></a>
					  			
                  			</div>
					  			<p>Hospital Angeles</p>
                  		</div>
                  		<div class="col-md-3 col-sm-4 col-xs-6  box0">
                  			<div class="box1">
					  			<span class="li_news"></span>
					  			<a href="#hospital-informacion/imss-4"><div class="hospital-img" style="background-image: url(images/hospitales/imss.png)"></div></a>
					  		
                  			</div>
					  			<p>IMSS</p>
                  		</div>
                  		<div class="col-md-3 col-sm-4 col-xs-6  box0">
                  			<div class="box1">
					  			<span class="li_data"></span>
					  			<a href="#hospital-informacion/star-medica-5"><div class="hospital-img" style="background-image: url(images/hospitales/starmedica.png)"></div></a>
					  			
                  			</div>
					  			<p>Star Médica</p></a>
                  		</div>
                  		<div class="col-md-3 col-sm-4 col-xs-6  box0">
                  			<div class="box1">
					  			<span class="li_data"></span>
					  			<a href="#hospital-informacion/issste-6"><div class="hospital-img" style="background-image: url(images/hospitales/issste.png)"></div></a>
					  			
                  			</div>
					  			<p>ISSSTE</p>
                  		</div>
                  </div>
        </div>
                  	
   
   </div>